.portfolio {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 350px;
  grid-auto-flow: dense;
}

.card {
  border-radius: 0;
  justify-content: space-between;
}

.card-body {
  padding: 1.25rem 1.25rem 0.5rem 1.25rem;
  flex: 0 1 auto;
}