/* Adjust bootstrap titles for mobile */
@media (max-width: 768px) {
  .display-2 {
    font-size: 2.75rem;
    font-weight: 300;

  }
  .display-4 {
    font-size: 1.75rem;
    font-weight: 300;

  }
}

body {
  background: #282c34;
  color: #A6B2C0
}

a, a:hover {
  color: #ded94f;
  transition: opacity 0.4s linear
}

a:hover {
  opacity: 0.8;;
}

h4 {
  color: #dcdcdc;
}

.jumbotron {
  background: #141414;
  color: #dcdcdc;
  border-bottom: 1px solid #444;
}

.portfolio {
  /* IE11 doesn't support grid but that's okay, just define flex first */
  display: flex;
  flex-wrap: wrap;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: minmax(350px, 1fr);
  grid-auto-flow: dense;
}

.logos {
  margin-top: 2rem;
  width: 220px;
}

.logos img {
  width: 25px;
  height: 25px;
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.card {
  flex: 0 0 auto;
  border-radius: 0;
  justify-content: space-between;
  background-color: rgba(100,100,100,0.1);
  /* border: 1px solid #5b6169; */
  transition: all 0.2s linear;
  margin: 15px 28px 15px 0px;  /* I'd use grid-gap but IE11 needs the spacing on the children */
  padding: .8rem;
}

.card:hover {
  background-color: rgba(100,100,100,0.4);
}

.card-body {
  padding: 1.25rem 1.25rem 0.25rem 1.25rem;
  flex: 0 1 auto;
}

.card-img-top {
  border-radius: 0;
}

/* Custom scrollbar because why not? */

::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-track {
  background: #000;
}

::-webkit-scrollbar-thumb {
  background: rgba(255,255,255,0.4);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255,255,255,0.45);
}