body {
  margin: 0;
  font-size: 16px;
  color: #333;
  background: #e9e9e9;
  font-family: 'Oxygen', sans-serif;
}

a, a:visited {
  color: #24B4E2;
}

a:hover {
  opacity: 0.8;
}

h1 {
  font-size: 3rem;
  margin: 0;
  padding: 0;
  font-family: "Questrial", sans-serif;
}

h2 {
  font-size: 2rem;
  margin: 0;
  padding: 0;
  line-height: 1.1;
  font-family: "Questrial", sans-serif;
}

strong {
  font-family: "Questrial", sans-serif;
}

section {
  position: relative;
  z-index: 10;
  color: #1E2954;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.intro {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

.intro h1 {
  line-height: 1.5;
}

.intro__background {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #4c87b7;
  border: 1px solid #24B4E2;
  color: #fff;
  height: 40%;
  width: 70%;
}

.intro__text {
  margin: auto 40px auto 80px;
  font-size: 1.1rem;
}

.content {
  height: 100vh;
  overflow: auto;
}

.content__nav {
  background: #4c87b7;
  color: #FBFAFA;
  padding: 10px;
  font-family: 'Oxygen', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content__nav span {
  cursor: pointer;
}

.content__nav span:hover {
  opacity: 0.8;
}

.content__section {
  padding: 20px;
  max-width: 1024px;
  margin: auto;
}

.content__item {
  line-height: 1.4;
  margin-bottom: 60px;
}

.content__item h2 {
  background: #4c87b7;
  color: #FBFAFA;
  display: inline-block;
  padding: 10px;
  line-height: 1.1;
}

.content__about {
  margin-top: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  grid-gap: 60px;
}

.content__grid {
  display: -ms-grid;
  display: grid;
  grid-gap: 2px;
  -ms-grid-columns: (minmax(100px, 120px))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(100px, 120px));
}

.content__grid div {
  background: #fff;
  text-align: center;
  min-height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  position: relative;
}

.content__grid div img {
  width: 100%;
  height: auto;
}

.content__grid--projects {
  -ms-grid-columns: (minmax(200px, 300px))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
}

.contact__logos img {
  width: 25px;
  height: auto;
}

@media (min-width: 768px) {
  body {
    overflow: hidden;
  }
  .intro__background {
    height: 500px;
    width: 500px;
  }
  .section__content aside {
    width: 30%;
  }
  .section__content aside img {
    display: inline-block;
    width: 100%;
    height: auto;
  }
  .section__column {
    width: 50%;
  }
}
/*# sourceMappingURL=main.css.map */