{% include header.html %}

{% for post in site.posts limit:1 %}
<div class="intro">
    <div class="container">
    <section>
        <h1>{{ post.title }}</h1>
    </section>
    </div>
</div>


<div class="container">
    
    <main>
        <article>
            <h5>{{post.author}} | {{ post.date | date_to_string }} </h5> 
            {{ post.content }}
        </article>
    </main>
    {% endfor %}
    
    <aside>
        <h3>Other posts</h3>
        <ul>
        {% for post in site.posts %}
          <li><a href="{{post.url}}">{{ post.title }}</a></li>
        {% endfor %}
        </ul>
        <h3>Newsletter</h3>
        Want to stay up to date with what I'm posting? 
        <a href="http://goo.gl/forms/X2fpcjZdYw" target="_blank">Sign up</a> for my email digest and never miss a thing.
    </aside>
    
</div>

{% include footer.html %}