.ns, .container aside ul, .container aside h1 {
  padding: 0;
  margin: 0; }

a {
  color: #333; }

body {
  margin: 0;
  padding: 1.25em;
  font: normal 100% system, -apple-system, ".SFNSDisplay-Regular", "Helvetica Neue", "Lucida Grande";
  color: #333; }

.container {
  display: flex;
  flex-direction: column-reverse; }
  .container main h2 {
    font-size: 1.3125em; }
  .container aside {
    border-bottom: 1px solid #333;
    padding-bottom: 1.25em; }
    .container aside ul {
      margin-top: 1.25em;
      list-style: none;
      font-size: 0.75em; }
    .container aside span {
      font-size: 0.75em; }
    .container aside h1 {
      font-size: 1.75em; }

footer {
  padding-top: 1.25em;
  padding-bottom: 1.25em;
  font-size: 0.56em; }
