//NOTES:
//Font size is 16px on desktop
//1.25em is 20px, use this as your universal padding to keep gutters consistent

$main-color:#333;
$background:#fff;

.ns {
    //no space for this element...
    padding:0;
    margin:0;
}

a {
    color:#333;
}

h1,h2,h3 {
    font-family: Helvetica, "Helvetica Neue";
    @extend .ns;
}

small {
    font-size:.56em;
}

body {
    @extend .ns;
    //get SF font working for mac and iOS
    font: normal 100% system, -apple-system,
      ".SFNSDisplay-Regular", "Helvetica Neue", "Lucida Grande";
    color:$main-color;
    background:$background;
}

.container {
    display: flex;
    flex-direction: column;
    padding:2em;
    main {
        h2 {
            font-size:1.31em;
        }
        h2+span {
            font-size:.75em;
        }
        p {
            line-height: 140%;
        }
    }
    aside {
        border-bottom:1px solid lighten($main-color, 70%);
        padding-bottom: 1.25em;
        margin-bottom:1.25em;
        blockquote {
            @extend .ns;
            font-size:.75em;
        }
        nav {
            margin-top:1.25em;
            display:flex;
            justify-content:space-between;
        }
        h1 {
            font-size:2.31em;
        }
    }    
}


footer {
    padding-top:1.25em;
}